@import '../node_modules/react-redux-toastr/lib/css/react-redux-toastr.min.css';
@import url('https://fonts.googleapis.com/css?family=Exo|Muli&display=swap');
@import './styles/react-bootstrap-table.min.css';
@import './styles/bootstrap.min.css';
body {
    margin: 0px !important;
    padding: 0px;
    background-color: white !important;
    font-size: 13px !important;
}

.form-control {
    font-size: 15px;
}

.btn, .button {
    font-size: 13px;
}

.close {
    font-size: 24px;
}

h5, .h5 {
    font-size: 20px;
}

.dropdown-item, .dropdown-header {
    font-size: 12px;
}

.main {
    overflow: hidden;
}

th, td {
    text-align: center !important;
}

.downshift-dropdown {
    position: absolute;
    z-index: 999;
    border-bottom: double;
}

.dropdown-item {
    padding: 2px 10px;
    /* border: 0.5px black solid; */
    width: inherit;
}

.SideNavBar .nav .nav-item .nav-link .nav-icon {
    font-size: 17px;
    margin-right: 19px;
}

.nav-link.active {
    color: #69ccfd !important;
    background: none !important;
}

.nav-dropdown.open {
    background: rgba(191, 191, 191, 0.2) !important;
}